.navbar-container {
    display: flex;
    /* именно image использовать, чтобы и градиент накладывался, и просто цвет */

    background-image: var(--bg-image);

    /* background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 251, 194), rgb(255, 248, 152), rgb(255, 219, 99), rgb(255, 208, 52)); */
    /* background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(230, 236, 255), rgb(193, 207, 255), rgb(121, 152, 255)); */
    /* background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(230, 236, 255)); */

      /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */

    /* rouned */
    border: 1px solid var(--text-color);
    border-radius: 2.5rem;
    margin: 1.5rem 3rem 1.5rem 3rem;
    /* background-color: var(--bg-navbar); */

    /* backdrop-filter: blur(10px); */

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    top: 0;
    z-index: 1;
    height: var(--nav-height);
    /* если это оставить, то mega menu не будет отображаться */
    /* overflow: hidden; */
}


/* Mobile view: fixed to the bottom */
@media (max-width: 768px) {

    .navbar-container {
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        height: var(--nav-height);
        padding: 0 1rem;
    }

    .caret-icon {
        display: none;
    }

    .base-nav-section-name {
        display: none;
    }

}

.navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo-icon {
    width: 90px;
    height: 90px;
    transition: all 0.3s ease-in-out 0s
}

.logo-icon:hover{
    /* -webkit-filter: invert(100%) !important;
    filter: invert(100%) !important; */
    transform: rotate(90deg);
    
}

.navbar-middle-sections {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* gap: 10px; */
    /* padding-left: 2rem; */
    font-size: 1.5rem;
    /* padding: 0.5rem; */
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
