.navbar-container {
    display: flex;
    /* именно image использовать, чтобы и градиент накладывался, и просто цвет */
    background-color: var(--background-color);
    /* background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(255, 251, 194), rgb(255, 248, 152), rgb(255, 219, 99), rgb(255, 208, 52)); */
    /* background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(230, 236, 255), rgb(193, 207, 255), rgb(121, 152, 255)); */
    /* background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(230, 236, 255)); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 1rem 5rem 1rem 5rem; */
    padding: 0 1rem 0 1rem;
    position: sticky;
    top: 0;
    /* border-radius: 3.5rem;
    border-color: rgba(0, 0, 0, 0.409);
    border-width: 1px;
    border-style: solid; */
    z-index: 1;
}

.navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo-icon {
    width: 90px;
    height: 90px;
    transition: all 0.3s ease-in-out 0s
}

.logo-icon:hover{
    /* -webkit-filter: invert(100%) !important;
    filter: invert(100%) !important; */
    transform: rotate(90deg);
    
}

.navbar-middle-sections {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* gap: 10px; */
    /* padding-left: 2rem; */
    font-size: 1.5rem;
    /* padding: 0.5rem; */
}

.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
