.logo{
    /* background-color: white; */
    width: 75px;
    height: 75px;
    cursor: pointer;
    transition: all 0.4s ease 0s;
}

.logo:hover{
    /* background-color: white; */
    transform: rotate(360deg);
}

/* .ant-input-wrapper{
    font-size: 70px;
} */