.logo{
    width: 80px;
    /* rotate: 90deg; */
    /* background-color: #851a2f; */
    height: 80px;
    /* border-color: blue; */
    cursor: pointer;
    /* -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222); */
    transition: all 0.4s ease 0s;
}

.logo:hover{
    transform: rotate(90deg);
    /* -webkit-filter: invert(1);
    filter: invert(1); */
}

/* span.ant-input-wrapper.ant-input-group{
    height: 60px ;
    width: 800px;
}
.ant-input-affix-wrapper{
    height: 60px !important;
} */

.ant-select-selection-item{
    width: 70px !important;
}
