@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  /* background-color: rgb(4, 3, 21); */
  /* background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 251, 194), rgb(255, 248, 152), rgb(255, 219, 99), rgb(255, 208, 52)); */
  /* background-image: linear-gradient(to right, rgb(225, 225, 225), rgb(205, 205, 205), rgb(176, 176, 176), rgb(167, 167, 167)); */
  background: 
    radial-gradient(
      circle at top left, rgba(6, 6, 30, 0.973), rgba(6, 18, 30, 0.973),  rgba(10, 13, 52, 0.973),  rgba(17, 85, 82, 0.0973) 50%
    ),
    radial-gradient(
      circle at bottom right, rgba(6, 6, 27, 0.296), rgba(29, 16, 91, 0.734), rgba(12, 19, 61, 0.724), rgba(15, 24, 77, 0.672), rgba(32, 11, 58, 0.072) 64%
    ),
    radial-gradient(
      circle at top right, rgba(6, 6, 27, 0.163), rgba(29, 16, 91, 0.406), rgba(12, 19, 61, 0.724), rgba(14, 7, 34, 0.235), rgba(32, 11, 58, 0.072) 34%
    );

      /* background: radial-gradient(
        circle at top left,
        rgba(10, 10, 40, 0.9) 10%,
        rgba(30, 50, 80, 0.7) 40%,
        rgba(80, 150, 180, 0.6) 60%,
        rgba(180, 93, 202, 0.706) 80%,
        rgba(92, 218, 70, 0.675) 100%
      ); */

  background-blend-mode:screen ; /* Change blending mode to normal */
  margin: 0;
  height: 100vh; /* Full height of the viewport */
  font-family: "Times New Romans";
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --nav-height: 6rem;
}

[data-theme="light"]{
  --bg-color: white;
  --text-hovered-color: rgb(57, 25, 160);
  --text-color: rgb(73, 73, 73);
  --transition: all 0.3s ease-in-out;
}

[data-theme="dark"] {
  --bg-color: black;
  /* --bg-image: radial-gradient(circle at top right, rgb(6, 14, 23),rgb(87, 20, 81), rgb(11, 25, 41), rgb(24, 54, 88), rgb(25, 96, 92), rgb(6, 14, 23)); */
  /* --bg-image: linear-gradient(to right, rgb(18, 5, 22), rgb(52, 14, 63), rgb(76, 18, 64), rgb(24, 83, 105), rgb(17, 30, 76), rgb(18, 5, 22)); */
  /* --bg-image: linear-gradient(to right, rgb(18, 5, 22), rgb(18, 5, 22)); */
  --text-hovered-color: rgb(240, 224, 81);
  --text-color: white;
  --transition: all 0.3s ease-in-out;
}

